/* Start Global Rules  */ 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgb(0, 132, 255);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
}
/* End Global Rules  */

.game .name {
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 5px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.game .choose-lvl div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.game .choose-lvl div span {
  padding: 4px 8px;
  background-color: rgb(0, 132, 255);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 4px black;
  transition: .3s;
}

.game .choose-lvl div span:hover {
  box-shadow: 0 0 6px white;
}

.game .choose-lvl h3 {
  font-size: 19px;
  font-weight: 600;
}

.game .container,
.game .choose-lvl {
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
  background-color: #444;
  color: white;
  border-radius: 6px;
  border: 1px solid black;
}

.game .container {
  display: none;
}

.game .container .message {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  background-color: black;
  border-radius: 6px;
  line-height: 1.5;
}

.game .container .message > span {
  color: var(--main-color);
}

.game .container .btn {
  max-width: 700px;
  display: block;
  margin: 15px auto;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  background-color: rgb(0, 132, 255);
  color: white;
  border-radius: 6px;
  transition: .3s;
  cursor: pointer;
  box-shadow: 0 0 5px black;
}

.game .container .btn:hover {
  box-shadow: 0 0 10px white;
  animation: none;
}

.game .container .the-word {
  max-width: 700px;
  display: block;
  margin: 15px auto;
  font-size: 18px;
  font-weight: 600;
  padding: 25px;
  background-color: black;
  color: var(--main-color);
  border-radius: 6px;
  transition: .3s;
  box-shadow: 0 0 20px var(--main-color) inset;
  user-select: none;
  animation: word .5s ease-in-out infinite;
  display: none;
}

@keyframes word {
  0%, 100% {
    box-shadow: 0 0 20px white inset;
  }
  50% {
    box-shadow: 0 0 20px var(--main-color) inset;
  }
}

.game .container input {
  display: block;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  transition: .3s;
}

.game .container input:focus {
  box-shadow: 0 0 10px white;
}

.game .container .words {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 700px;
  margin: 15px auto;
  padding: 15px;
  background-color: #eee;
  color: black;
  border-radius: 6px;
  transition: .3s;
}

.game .container .words span {
  font-size: 16px;
  font-weight: 500;
}

.game .container .words p {
  padding: 6px 10px;
  background-color: black;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  transition: .3s;
}

.game .container .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  margin: 15px auto 0;
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
  background-color: black;
  border-radius: 6px;
  transition: .3s;
}

.game .container .info span {
  font-weight: 600;
  color: var(--main-color);
}

@media (max-width: 400px) {
  .game .container .info {
    flex-direction: column;
    gap: 5px;
  }
}

.game .container .finish {
  max-width: 700px;
  background-color: #eee;
  margin: 15px auto 0;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  transition: .3s;
  display: none;
}

.game .container .finish .bad {
  width: 100%;
  display: block;
  padding: 15px;
  color: rgb(255, 17, 0);
  border-radius: 6px;
  animation: finishb .5s ease-in-out infinite;
  user-select: none;
} 
 
@keyframes finishb {
  0%, 100% {
    box-shadow: 0 0 20px black inset;
  }
  50% {
    box-shadow: 0 0 20px rgb(255, 17, 0) inset;
  }
}
  
.game .container .finish .good {
  background-color: #eee;
  width: 100%;
  display: block;
  padding: 15px;
  color: rgb(0, 185, 0);
  border-radius: 6px;
  animation: finishg .5s ease-in-out infinite;
  user-select: none;
}

@keyframes finishg {
  0%, 100% {
    box-shadow: 0 0 20px black inset;
  }
  50% {
    box-shadow: 0 0 20px rgb(0, 255, 128) inset;
  }
}
  
.again {
  width: fit-content;
  margin: 20px auto;
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 6px;
  box-shadow: 0 0 10px #333;
  transition: .3s;
  cursor: pointer;
  animation: again 1s ease-in-out infinite;
  user-select: none;
}

.again:hover {
  background-color: #333;
  box-shadow: 0 0 0 #333;
}
